@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --blueviolet: #8a2be2;
    --blue: #6366f2;
    --gray: #757575;
    --cursive: "Great Vibes";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Titillium Web";
}

html{
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: #e7e7e7;
}
.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: .5;
    z-index: -1;
}
.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}
/* container */
.container{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.logo {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
    cursor: pointer;
    font-weight: 500;
}
.logo-span{
    font-family: "Great Vibes";
    font-weight: 600;
}
.logo:hover {
    text-shadow: 0 0 30px white;
}
.logo:hover .logo-span{
    text-shadow: 0 0 30px var(--blueviolet);
}
header nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    z-index: 9999;
}
header nav a{
    font-size: 1rem;
    letter-spacing: .1rem;
    text-decoration: none;
    color: lightgray;
    position: relative;
}
header nav a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--blueviolet);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}
header nav a:hover{
    text-shadow: 0 0 20px white;
}
header nav a:hover::after {
  transform: translateX(-50%) scaleX(1.1);
}
.hire-me{
    font-size: 1.1rem;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    border: var(--blueviolet) 1px solid;
    box-shadow: 0 0 10px var(--blueviolet);
    text-shadow: 0 0 10px var(--blueviolet);
    transition: .3s;
}
.hire-me:hover {
    cursor: pointer;
    box-shadow: 0 0 30px var(--blueviolet);
    text-shadow: 0 0 20px white;
}
/* hero section */
.hero {
    width: 100%;
    padding: 0 2rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.content {
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}
.tag-box{
    position: relative;
    width: 18rem;
    height: 3rem;
    position: relative;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0, #757575, #656565);
    background-size: 200%;
    animation: gradientBorder 2.5s linear infinite;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.372);
    margin-bottom: 50px;
}
@keyframes gradientBorder {
    to {
        background-position: 200%;
    }
}
.tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    text-transform: uppercase;
}
.tag-box:hover{
    box-shadow: 0 0 30px rgba(211, 211, 211, 0.396);
}
.tag-box:hover .tag{
    text-shadow: 0 0 20px lightgray;
}
.domain{
    font-size: 6.5rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: "Great Vibes";
    text-shadow: 0 0 15px lightgray;
}
.short-desc{
    font-size: 1.2rem;
    letter-spacing: .05em;
    max-width: 35rem;
    color: gray;
    margin-top: 30px;
}
.buttons {
    display: flex;
    gap: 2rem;
    margin-top: 30px;
}
.button {
    font-size: 1.2em;
    background-color: black;
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: .3s;
    letter-spacing: .01em;
}
.cv-button:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 20px lightgray;
    text-shadow: 0 0 20px black;
    i{color: black;}
}
.scroll-down:hover{
    box-shadow: 0 0 20px lightgray;
}
.move-down{
    animation: upDown 1s linear infinite;
    transition: 1s ease;
}
@keyframes upDown {
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-2px);
    }
}
.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
}

/* Contact-Section */
.contact-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* remove after sometime */
}
.contact-tag{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    border: 0.5px solid #6366f2;
    width: fit-content;
    border-radius: 20px;
    margin: 2rem 0 1rem 0;
    color: #6366f2;
    background-color: #6365f238;
    i{color: #6366f2;}
}
.contact-section h1{
    color: #8a2be2;
    font-size: 4rem;
    font-weight: 400;
    font-family: "Great Vibes";
}
.contact-section p{
    width: 40rem;
    text-align: center;
    color: rgb(209, 209, 209);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.contact-form fieldset{
    width: 40rem;
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 50px;
    border: 1px solid var(--gray);
}
.contact-form fieldset:hover{
    border: 1px solid var(--blueviolet);
    legend{
        color: var(--blueviolet);
        text-shadow: 0 0 30px var(--blueviolet);
    }
}
.contact-form .labels{
    width: 100%;
    display: flex;
    gap: 5%;
    align-items: center;
    margin-bottom: 20px;
}
.name-box{
    width: 100%;
    font-size: .9rem;
    letter-spacing: .02em;
}
.name-box input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid gray;
    margin-top: 5px;
    font-size: 1rem;
}
.mail-box{
    width: 100%;
    letter-spacing: .02em;
    font-size: .9rem;
}
.mail-box input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid gray;
    font-size: 1rem;
    margin-top: 5px;
}
.message-box{
    display: flex;
    flex-direction: column;
    letter-spacing: .02em;
    font-size: .9rem;
}
.message-box textarea {
    width: 100%;
    resize: none;
    height: 10rem;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    font-size: 1rem;
    margin-top: 5px;
}
.form-buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.form-buttons button[type="submit"] {
    background-color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    transition: .3s all;
    background: linear-gradient(30deg,
        transparent 20%,
        var(--blueviolet) 40%,
        var(--blueviolet) 60%,
        transparent 80%
    );
    /* box-shadow: 0 0 10px blueviolet; */
}
.form-buttons button[type="submit"]:hover {
    box-shadow: 0 0 40px var(--blueviolet);
}
.form-buttons button[type="reset"] {
    background-color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    border: var(--gray) 1px solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

    i{transition: .5s ease-in-out;}
}
.form-buttons button[type="reset"]:hover {
    box-shadow: 0 0 10px lightgray;
    background-color: rgba(211, 211, 211, 0.192);

    i{rotate: -360deg;}
}
.muted{
    color: gray;
}
.reach-out-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 10%;
}
.reach-out-buttons button {
    background-color: black;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 1.1rem;
    letter-spacing: .02em;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    cursor: pointer;
    transition: .2s;

    i{font-size: 1rem;}
}
.reach-out-buttons button:hover {
    transform: scale(1.02);
    background-color: var(--blueviolet);
    border: none;
    box-shadow: 0 0 20px var(--blueviolet);
}
/* footer */
.footer-section{
    width: 100%;
    height: 100px;
    position: relative;
}
.h-row{
    position: absolute;
    top: 0;
    width: 100%;
    border: none;
    height: 2px;
    background: linear-gradient(
    to right,
    transparent 3%,
    var(--blueviolet) 50%,
    var(--blue) 75%,
    transparent 97%
  );
}
.foot{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .social-links {
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

footer .social-links i{
    font-size: 1.8rem;
    text-shadow: 0 0 10px lightgray;
}
.icon-wrapper {
      position: relative;
      cursor: pointer;
      font-size: 32px;
      color: #333;
      transition: 0.3s;
    }

.icon-wrapper:hover {
      color: #000;
      transform: translateY(-5px);
}
.icon-wrapper .tooltip {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--blueviolet);  
      color: white;
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 16px;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 10;
}

.icon-wrapper:hover .tooltip {
      opacity: 1;
      bottom: 120%;
}
footer .goto-top{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 50%;
    box-shadow: 0 0 10px lightgray;
}

footer .goto-top .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        font-size: 1.3rem;
    }
}
footer .goto-top .icon-wrapper:hover .tooltip{
      bottom: 220%;
}
.copyright{
    letter-spacing: 0.05em;
}


/* Media Queries */
/* small-laptop responsive */

/* Tablet Responsive */
@media (max-width: 1300px) {
    .logo{
        font-size: 2rem;
    }
    header nav a{
        font-size: .75rem;
    }
    .hire-me{
        padding: 5px 20px;
        font-size: .8rem;
    }
    .robot-3d{
        right: -25%;
    }
    .content{
        margin-left: 8%;
    }
    .tag-box{
        width: 13rem;
        height: 2rem;
        margin-bottom: 20px;
    }
    .tag{
        font-size: .8rem;
        inset: 2px 2px 2px 2px;
    }
    .domain{
        font-size: 5rem;
    }
    .short-desc{
        font-size: .78rem;
        width: 30rem;
        margin-top: 10px;
    }
    .buttons{
        margin-top: 15px;
    }
    .button{
        padding: 5px 17px;
        font-size: .8rem;
        border-radius: 5px;
    }
}

/* Mobile Responsive */
@media (max-width: 390px) {
    .nav{
        display: none;
    }
    .logo{
        font-size: 1.2rem;
    }
    header{
        padding-inline: 30px;
    }
    .hire-me{
        padding: 5px 10px;
        font-size: 0.7rem;
        background-color: var(--blueviolet);
        border-radius: 5px;
    }
    .hire-me:hover{
        background-color: var(--blueviolet);
    }
    .robot-3d{
        transform: scale(0.55);
        top: -35%;
        right: -0.5%;
    }
    .content{
        width: 100%;
        margin-left: 0;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tag-box{
        width: 12rem;
        height: 1.8rem;
        margin-bottom: 20px;

    }
    .tag{
        font-size: .8rem;
        text-transform: capitalize;
    }
    .button{
        font-size: .8rem;
    }
    .cv-button{
        background-color: white;
        color: black;
        i{color: black;}
    }
    .short-desc{
        font-size: .9rem;
        margin-top: 10px;
        text-align: center;
        width: 20rem;
    }
    .domain{
        font-size: 3rem;
        text-align: center;
    }
}